<% layout('./layout/boiler') %> 
<style>
    body {
   font-family: 'Arial', sans-serif;
   display: flex;
   background-image: url('/pic/snow.jpg'); 
   background-size: cover;
   background-position: center;
   flex-direction: column;
   min-height: 100vh;
   overflow-x: hidden;
   color: #2e2d2d;
}
</style>
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-4 mx-auto my-5" >
            <% if(error&&error.length){ %>
                <div class="  alert alert-warning mb-1 mt-2 alert-dismissible fade show" role="alert">
                <strong><%=error%></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                <% } %>
                
<form action="/register " method="post">
    <h2 class="my-2 mb-4">Register</h2>
    <div class=" form-outline mb-0">
    <label for="username" class="form-label">User Name</label>
    <input type="text" id="username" class="form-control mb-2" name="username" autofocus>
    </div>
    <div class=" form-outline mt-0 mb-4">
    <label class="form-label" for="password"> password</label>
    <input type="password" class="form-control mb-3" id="password" name="password">
    <p >len must be above 5char For Pass and Username</p>
    </div>
    <button class="btn btn-primary">register</button><br><br>
    <a href="/loginform">login</a>
</form>
</div>
</div>
</div>
