<% layout('./layout/boiler') %> 

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-4 mx-auto my-5" >
            <% if(error&&error.length){ %>
                <div class="  alert alert-warning mb-1 mt-2 alert-dismissible fade show" role="alert">
                <strong><%=error%></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                <% } %>
                
<form action="/register " method="post">
    <h2 class="my-2 mb-4">Register</h2>
    <div class=" form-outline mb-0">
    <label for="username" class="form-label">User Name</label>
    <input type="text" id="username" class="form-control mb-2" name="username">
    </div>
    <div class=" form-outline mt-0 mb-4">
    <label class="form-label" for="password"> password</label>
    <input type="password" class="form-control" id="password" name="password">
    </div>
    <button class="btn btn-primary">register</button><br><br>
    <a href="/loginform">login</a>
</form>
</div>
</div>
</div>
