
<style>
    .ft{
        backface-visibility: hidden;
    }
</style>
<footer class=" bg-dark py-3 mt-auto ft" >
<div class="container " >
    <span class="text-secondary">&copy;surya</span>
</div>
</footer>    