<% layout('./layout/boiler') %>
<div class="mt-10">
<div class="alert alert-danger" role="alert" style="margin-top: 10px;">
    <h4 class="alert-heading"><%=message %></h4>
    <p>try again</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
     
    <a href="">try again</a>
  </div></div>