<% layout('./layout/boiler') %>
<style>
  body {
 font-family: 'Arial', sans-serif;
 display: flex;
 background-image: url('/pic/snow.jpg'); 
 background-size: cover;
 background-position: center;
 flex-direction: column;
 min-height: 100vh;
 overflow-x: hidden;
 color: #2e2d2d;
}
</style>
<div class="mt-10">
<div class="alert alert-danger" role="alert" style="margin-top: 10px;">
    <h4 class="alert-heading"><%=message %></h4>
    <p>try again</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
     
    <a href="">try again</a>
  </div></div>