<% layout('./layout/boiler') %>
 <div class="row">
    <h1 class="text-center">New Item</h1>
    <div class="col-6 offset-3">
    <form action="/campground/newitem" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3"> 
            <label class="form-lable" for="camp">Camp Name</label>
            <input class="form-control" id="camp" type="text" name="campground[title]" "  required>
           
    </div>
    <div class="mb-3">
            <label class="form-lable" for="loc">Camp Location</label> 
            <input class="form-control" id="loc" type="text" name="campground[location]" " required>
        </div>
        <div class="mb-3">
            <label class="form-lable" for="price">Camp Price</label> 
        <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="Username" aria-describedby="basic-addon1" name="campground[Price]" required>
          </div></div>
        <div class="mb-3">
            <label for="formFile" class="form-label">select images</label>
            <input class="form-control" type="file"multiple name="image" id="img">
          </div>
        <div class="mb-3">
            <label class="form-lable" for="description">Description</label> 
            <textarea class="form-control" id="description" type="text" required name="campground[description]"></textarea >
        </div>
        <button class="btn btn-primary mb-3">save</button>
        <div class="mb-3">
            <a href="/campground">back</a>
        </div>

    </form>
    </div>
 </div>





